<div class="container" ng-controller="blogController">
  
  <h1>Add Blog</h1>
	<form>
  <div class="form-group">
  <label for="name">BlogName:</label>
      <input type="text" class="form-control" id="bname" placeholder="Enter Blogname" name="bname" ng-model="blog.blogName">
    </div>
    
    <div class="form-group">
      <label for="text">BlogContent:</label>
      <textarea type="text" class="form-control" id="content" placeholder="Enter BlogContent" rows="5" name="bctname" ng-model="blog.blogContent">
  </textarea>
   </div><div class="form-group">
     
    <button type="submit" class="btn btn-primary" ng-click="addBlog()">Submit</button>
     </div>
  </form>
  
</div>
